extends layout

block header
    div#header
        div#mainbar
            span#title ASCII MINER
            a Home
            a New Game
            a Reset

block map
    div#map
        div#maptable
            - var count=0;
            - for(var x=0;x<30;x++)
                - for(var y=0;y<30;y++)
                    span(class='cell'+count) T
                    - count++;
                .newline


block character
    div#character
        div#equipment
            div.boxcharacter
                span Helmet:
                span#helmet
            div.boxcharacter
                span Overall:
                span#overall
            div.boxcharacter
                span Gloves:
                span#gloves
            div.boxcharacter
                span Boots:
                span#boots
            div.boxcharacter
                span Pickaxe:
                span#pickaxe
        div#skills
            div.boxcharacter
                span Strength:
                span#strength █ █ █ █ █ █
            div.boxcharacter
                span Dexterity:
                span#desterity █ █
            div.boxcharacter
                span Luck:
                span#luck █ █ █ █

block resources
    div#resources