extends layout

block header
    div#header
        .title ASCII MINER
        div#mainbar
            a Home
            a New Game
            a Reset

block map
    div#map
        div#maptable
            - var count=0;
            - for(var x=0;x<30;x++)
                - for(var y=0;y<30;y++)
                    span(class='cell'+count) T
                    - count++;
                .newline


block character
    div#character
        div#equipment
            div#helmet Helmet
            div#overall Overall
            div#gloves Gloves
            div#boots Boots
            div#pickaxe Pickaxe
        div#skills
            div#strength Strength:
            div#dexterity  Dexterity:
            div#luck Luck:

block resources
    div#resources

block footer
    div#footer
