extends layout

block header
    div#header
        div#mainbar
            span#title ASCII MINER
            a Home
            a New Game
            a Reset

block map
    div#map
        div#maptable
            - var count=0;
            - for(var x=0;x<30;x++)
                - for(var y=0;y<30;y++)
                    span(class='cell'+count) T
                    - count++;
                .newline


block character
    div#character
        div#equipment
            div.boxcharacter
                p Helmet:
                p#helmet Basic leather helmet
            div.boxcharacter
                p Overall:
                p#overall Good cloth overall
            div.boxcharacter
                p Gloves:
                p#gloves Good leather gloves
            div.boxcharacter
                p Boots:
                p#boots basic metal boots
            div.boxcharacter
                p Pickaxe:
                p#pickaxe Excelent steel pickaxe
        div#skills
            div.boxcharacter
                p Strength:
                p#strength █ █ █ █ █ █
            div.boxcharacter
                p Dexterity:
                p#desterity █ █
            div.boxcharacter
                p Luck:
                p#luck █ █ █ █

block resources
    div#resources