extends layout

block header
    div#header
        div#mainbar
            span#title ASCII MINER
            a Home
            a New Game
            a Reset

block map
    div#map
        div#maptable
            - var count=1;
            - for(var x=0;x<30;x++)
                - for(var y=0;y<30;y++)
                    span(class='cell'+count) &nbsp;
                    - count++;
                .newline
        div#debug

block character
    div#character
        div#equipment
            div.boxcharacter
                p Helmet:
                p#helmet [Leather] helmet
            div.boxcharacter
                p Overall:
                p#overall [Cloth] overall
            div.boxcharacter
                p Gloves:
                p#gloves [Leather] gloves
            div.boxcharacter
                p Boots:
                p#boots [Metal] boots
            div.boxcharacter
                p Pickaxe:
                p#pickaxe [Steel] pickaxe
        div#skills
            div.boxcharacter
                p Strength:
                p#strength █ █ █ █ █ █
            div.boxcharacter
                p Dexterity:
                p#dexterity █ █
            div.boxcharacter
                p Lucky:
                p#lucky █ █ █ █

block resources
    div#resources