extends layout

block header
    div#header
        .title ASCII MINER
        div#mainbar
            a Home
            a New Game
            a Reset

block map
    div#map
        div#maptable
            - var count=0;
            - for(var x=0;x<30;x++)
                - for(var y=0;y<30;y++)
                    span(class='cell'+count) T
                    - count++;
                .newline


block character
    div#character

block resources
    div#resources

block footer
    div#footer
