extends layout

block header
    div#header
    h1= title
    p Welcome to #{title}

block map
    div#map

block character
    div#character

block resources
    div#resources

block footer
    div#footer
