doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/main_functions.js')
    body
        block header
        block map
        block character
        block resources
        block footer