@cellwidth: 20px;
@tinyfontsize: 13pt;
@equipmentwidth: 64px;

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 1080px;
    margin: 0 auto;
}

a {
    color: #00B7FF;
}

#header{
    border: 1px solid black;
    margin-top: 10px;
    height: 100px;
    padding: 20px;
    background: #BDBDBD;
}

#map, #character, #resources, #footer{
    border: 1px solid black;
    margin: 10px 0;
    padding: 20px;
    background: #BDBDBD;
}

#map{
    width: 600px;
    height: 600px;
    float: left;
}

#character{
    width: 380px;
    height: 600px;
    float: right;
}

#resources{
    height: 200px;
    clear: both;
}

#footer{
    height: 50px;
}

#maptable{
    display: table;
}

#maptable span{
    width: @cellwidth;
    height: @cellwidth;
    line-height: @cellwidth;
    float: left;
    text-align: center;
}
.title{
    font-size: 18pt;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

#mainbar{
    width: 90%;
    height: 50px;
}

#mainbar a{
    border: 1px solid black;
    float: left;
    font-size: 16pt;
    padding: 3px;
    margin: 8px 50px;
    color: black;
    background: #F2F5A9;
    cursor: pointer;
}

#mainbar a:hover{
    background: #9FF781;
    color: saddlebrown;
}

#equipment, #skills{
    font-size: @tinyfontsize;
}

#helmet, #overall, #gloves, #pickaxe, #boots{
    width: @equipmentwidth;
    height: @equipmentwidth;
    border: 1px solid black;
    margin: 5px;
}

#helmet, #overall, #boots{
    margin: 5px auto;
}